<section class="project-images">
    <div class="info-block">
        <div class="container">
            <a href="#">1 МВТ - 5 МВТ</a>
        </div>
    </div>
    <div class="container">
        <div class="swiper-container main-image">
            <div class="swiper-wrapper">
                @@for (var i = 0; i < 4; i++){
                    <div class="swiper-slide">
                        <img src="img/product-image.png" alt="">
                    </div>
                }
            </div>
            <div class="navigation">
                <div class="btn prev"></div>
                <div class="btn next"></div>
            </div>
        </div>
        <div class="all-images swiper-container">
            <div class="swiper-wrapper">
                @@for (var i = 0; i < 4; i++){
                <div class="swiper-slide">
                    <img src="img/product-image.png" alt="">
                </div>
                }
            </div>
        </div>
    </div>
</section>