section.academy-reviews.b2b-reviews {
  padding: 0;
  background: transparent;
  margin-bottom: 136px; }
  section.academy-reviews.b2b-reviews .section-title {
    margin-bottom: 40px; }
    section.academy-reviews.b2b-reviews .section-title .title {
      margin-bottom: 40px; }
  section.academy-reviews.b2b-reviews .navigation {
    margin-top: 48px;
    justify-content: center; }
