section.service-stages {
  display: flex;
  flex-direction: column;
  margin-bottom: 136px; }
  @media (max-width: 767px) {
    section.service-stages {
      margin-bottom: 60px; } }
  section.service-stages .flex {
    display: flex;
    flex-wrap: wrap; }
    section.service-stages .flex .elem {
      width: calc(50% - 30px);
      display: flex;
      flex-direction: column; }
      @media (max-width: 767px) {
        section.service-stages .flex .elem {
          width: 100%; } }
      section.service-stages .flex .elem:nth-child(odd) {
        margin-right: 30px; }
        @media (max-width: 767px) {
          section.service-stages .flex .elem:nth-child(odd) {
            margin: 0 0 20px; } }
      section.service-stages .flex .elem:nth-child(even) {
        margin-left: 30px; }
        @media (max-width: 767px) {
          section.service-stages .flex .elem:nth-child(even) {
            margin: 0 0 20px; } }
      section.service-stages .flex .elem .number {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #8d8d8d;
        margin: 0 0 24px; }
        @media (max-width: 767px) {
          section.service-stages .flex .elem .number {
            font-size: 14px;
            margin-bottom: 15px; } }
      section.service-stages .flex .elem .text {
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #333;
        margin: 0; }
        @media (max-width: 767px) {
          section.service-stages .flex .elem .text {
            font-size: 21px; } }
