section.may-interest
  display: flex
  flex-direction: column
  margin-bottom: 136px
  @media (max-width: 767px)
    margin-bottom: 60px
  .grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 60px
    grid-row-gap: 20px
    @media (max-width: 980px)
      grid-column-gap: 30px
    @media (max-width: 767px)
      grid-template-columns: 1fr
      margin-bottom: 40px
    .elem
      display: flex
      flex-direction: column
      margin-bottom: 48px
      @media (max-width: 767px)
        max-width: 400px
        margin: 0 auto
      .image
        width: 100%
        height: auto
        margin-bottom: 16px
        border-radius: 7px
        @media (max-width: 767px)
          margin-bottom: 8px
        img
          border-radius: 7px
      .date
        font-size: 16px
        line-height: 150%
        letter-spacing: -0.02em
        color: #8d8d8d
        margin: 0 0 8px
      .name
        font-weight: 600
        font-size: 18px
        line-height: 150%
        letter-spacing: -0.02em
        color: #333
        text-decoration: none