body.thx-page {
  display: flex;
  flex-direction: column;
  background: url("../img/thx_bg.png") center center/cover no-repeat; }
  body.thx-page header {
    margin-top: 80px;
    display: flex;
    justify-content: center; }
    @media (max-width: 767px) {
      body.thx-page header {
        margin-top: 40px; } }
    body.thx-page header .logo {
      width: 224px;
      height: auto;
      margin: 0; }
      @media (max-width: 767px) {
        body.thx-page header .logo {
          width: 186px; } }
  body.thx-page main {
    text-align: center; }
    body.thx-page main .title {
      font-family: "Druk Wide Cyr";
      font-weight: 500;
      font-size: 41px;
      line-height: 110%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0 0 56px; }
      @media (max-width: 767px) {
        body.thx-page main .title {
          font-size: 36px;
          margin-bottom: 36px; } }
      @media (max-width: 576px) {
        body.thx-page main .title {
          font-size: 24px;
          margin-bottom: 24px; } }
    body.thx-page main .desc {
      font-size: 21px;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: #ffffff;
      margin: 0 0 80px; }
      @media (max-width: 767px) {
        body.thx-page main .desc {
          font-size: 18px;
          margin-bottom: 40px; } }
      @media (max-width: 576px) {
        body.thx-page main .desc {
          font-size: 16px;
          margin-bottom: 25px; } }
    body.thx-page main .btn {
      width: 168px;
      height: 66px;
      background: #FFFFFF;
      border-radius: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: #343434;
      text-decoration: none; }
      @media (max-width: 767px) {
        body.thx-page main .btn {
          height: 45px; } }
  body.thx-page footer {
    background: transparent;
    display: flex;
    justify-content: center;
    margin: 0 0 80px;
    padding: 0; }
    @media (max-width: 767px) {
      body.thx-page footer {
        margin-bottom: 40px; } }
    body.thx-page footer p {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #ffffff; }
