section.service-example
  display: flex
  flex-direction: column
  margin-bottom: 136px
  .grid
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 58px
    grid-row-gap: 48px
    .elem
      display: flex
      flex-direction: column
      text-decoration: none
      .image
        width: 100%
        height: auto
        border-radius: 7px
        margin-bottom: 24px
        img
          border-radius: 7px
      .name
        font-weight: 600
        font-size: 18px
        line-height: 150%
        letter-spacing: -0.02em
        color: #333
        margin: 0