@font-face {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/ProximaNova/ProximaNova-ThinIt.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/ProximaNova/ProximaNova-Light.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/ProximaNova/ProximaNova-LightIt.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ProximaNova/ProximaNova-Regular.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/ProximaNova/ProximaNova-Semibold.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/ProximaNova/ProximaNova-Semiboldit.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ProximaNova/ProximaNova-Bold.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ProximaNova/ProximaNova-BoldIt.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/ProximaNova/ProximaNova-Extrabld.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/ProximaNova/ProximaNova-Black.woff) format("woff"); }

@font-face {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/ProximaNova/ProximaNova-BlackIt.woff) format("woff"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DrukCyr/DrukWideCyr-Super.woff2) format("woff2"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/DrukCyr/DrukWideCyr-SuperItalic.woff2) format("woff2"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/DrukCyr/DrukWideCyr-Medium.woff2) format("woff2"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/DrukCyr/DrukWideCyr-MediumItalic.woff2) format("woff2"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DrukCyr/DrukWideCyr-Bold.woff2) format("woff2"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/DrukCyr/DrukWideCyr-BoldItalic.woff2) format("woff2"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/DrukCyr/DrukWideCyr-Super.woff2) format("woff2"); }

@font-face {
  font-family: "Druk Wide Cyr";
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/DrukCyr/DrukWideCyr-SuperItalic.woff2) format("woff2"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100;
  src: url(../fonts/Montserrat/Montserrat-ThinItalic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  src: url(../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/Montserrat/Montserrat-LightItalic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Montserrat/Montserrat-Italic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/Montserrat/Montserrat-MediumItalic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Montserrat/Montserrat-BoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Montserrat/Montserrat-Black.ttf) format("truetype"); }

@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.ttf) format("truetype"); }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: none; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1024px; } }
  @media (min-width: 1366px) {
    .container {
      max-width: 1310px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }
  .container-fluid .container {
    padding-right: 0;
    padding-left: 0; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative; }
  html:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 25%;
    background: #818181;
    z-index: -1;
    opacity: .1; }
  html:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 25%;
    background: #818181;
    z-index: -1;
    opacity: .1; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Proxima Nova";
  overflow: hidden;
  position: relative; }
  body:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    background: #818181;
    z-index: -1;
    opacity: .1; }
  body.hidden {
    max-height: 100vh;
    overflow: hidden; }
  body.center {
    min-height: 100vh; }
    body.center main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  body * {
    -webkit-tap-highlight-color: transparent; }
  body main {
    flex: 1; }

img {
  width: 100%;
  height: auto; }

.section-title {
  margin-left: 112px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 46px;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .section-title {
      margin-left: 0; } }
  @media (max-width: 576px) {
    .section-title {
      padding-left: 23px; } }
  .section-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 2px;
    height: 20px;
    background: #0667b1; }
  .section-title .title {
    font-family: "Druk Wide Cyr";
    font-weight: 500;
    font-size: 27px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #333;
    margin: 0 0 40px; }
    .section-title .title span {
      color: #0667b1; }
    @media (max-width: 576px) {
      .section-title .title {
        font-size: 18px;
        margin-bottom: 20px; } }
  .section-title .desc {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #8d8d8d;
    margin: 0;
    max-width: 310px; }

.popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(51, 51, 51, 0.6);
  justify-content: center; }
  .popup-wrapper.active {
    display: flex; }
  .popup-wrapper .popup {
    position: fixed;
    z-index: 11;
    display: none;
    max-height: 100vh;
    overflow-y: scroll; }
    .popup-wrapper .popup::-webkit-scrollbar {
      width: 2px; }
    .popup-wrapper .popup::-webkit-scrollbar-track {
      background: transparent; }
    .popup-wrapper .popup::-webkit-scrollbar-thumb {
      background: #888; }
    .popup-wrapper .popup.center {
      align-self: center; }
    .popup-wrapper .popup.active {
      display: flex; }

header {
  padding-top: 40px;
  position: relative;
  z-index: 9; }
  @media (max-width: 980px) {
    header {
      justify-content: space-between; } }
  @media (max-width: 767px) {
    header {
      padding-top: 15px; } }
  header .container {
    display: flex;
    align-items: center; }
  header .left-side {
    display: flex;
    align-items: center; }
    @media (max-width: 380px) {
      header .left-side {
        flex: 1;
        justify-content: space-between; } }
  header .right-side {
    display: flex;
    align-items: center; }
  header .burger {
    width: 32px;
    height: auto;
    cursor: pointer;
    margin-right: 52px;
    position: relative; }
    header .burger img {
      transition: opacity .1s;
      opacity: 0; }
      header .burger img.show {
        opacity: 1; }
    header .burger .burger-black {
      position: absolute;
      top: 0;
      left: 0; }
    @media (max-width: 1365px) {
      header .burger {
        margin-right: 32px; } }
  header .logo {
    width: 171px;
    margin-right: 56px;
    position: relative; }
    header .logo img {
      opacity: 0;
      transition: opacity .1s; }
      header .logo img.show {
        opacity: 1; }
    @media (max-width: 1365px) {
      header .logo {
        margin-right: 16px;
        width: 130px; } }
    @media (max-width: 380px) {
      header .logo {
        flex: 1;
        display: flex;
        justify-content: center; }
        header .logo img {
          width: 130px; } }
    header .logo .logo-black {
      position: absolute;
      top: 0;
      left: 0; }
  header .menu {
    flex: 1; }
    @media (max-width: 980px) {
      header .menu {
        display: none; } }
    header .menu ul {
      display: flex;
      align-items: center;
      list-style: none; }
      header .menu ul li {
        margin-right: 32px; }
        @media (max-width: 1365px) {
          header .menu ul li {
            margin-right: 15px; } }
        header .menu ul li:last-child {
          margin-right: 0; }
        header .menu ul li a {
          font-size: 17px;
          line-height: 150%;
          letter-spacing: -0.02em;
          color: #ffffff;
          text-decoration: none;
          transition: color .1s; }
  header .phone a {
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-right: 56px;
    color: #ffffff;
    text-decoration: none;
    transition: color .1s; }
    @media (max-width: 1365px) {
      header .phone a {
        margin-right: 32px;
        font-size: 16px; } }
    @media (max-width: 767px) {
      header .phone a {
        display: none; } }
  header .consultation {
    width: 133px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 61px;
    background: transparent;
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #ffffff;
    text-align: center;
    margin-right: 16px;
    cursor: pointer;
    transition: all .1s; }
    @media (max-width: 767px) {
      header .consultation {
        display: none; } }
  header .language {
    display: flex;
    flex-direction: column; }
    header .language a {
      width: 42px;
      height: 42px;
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 17px;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: #ffffff;
      background: none;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
      transition: all .1s; }
  header.black {
    padding-bottom: 40px; }
    header.black .menu ul li a {
      color: #333; }
    header.black .phone a {
      color: #333; }
    header.black .consultation {
      color: #333;
      border-color: #8d8d8d; }
    header.black .language a {
      color: #333;
      border-color: #8d8d8d; }
  header.scroll {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #fff;
    width: 100%;
    max-width: none;
    margin-top: 0;
    padding: 10px 0;
    transition: padding .1s; }

footer {
  background: #333333;
  padding: 40px 0 24px; }
  footer .container {
    display: flex;
    flex-direction: column; }
    footer .container .top-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 48px; }
      @media (max-width: 576px) {
        footer .container .top-block {
          margin-bottom: 24px; } }
      footer .container .top-block .logo {
        width: 171px;
        height: auto; }
      footer .container .top-block .language {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 50%;
        font-weight: 600;
        font-size: 17px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #ffffff;
        text-decoration: none; }
    @media (max-width: 767px) {
      footer .container .links {
        display: none; } }
    footer .container .links ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center; }
      footer .container .links ul li {
        margin-right: 40px;
        font-size: 19px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #ffffff; }
        @media (max-width: 840px) {
          footer .container .links ul li {
            margin-right: 20px; } }
        footer .container .links ul li:last-child {
          margin-right: 0; }
        footer .container .links ul li a {
          color: inherit;
          text-decoration: inherit; }
    footer .container .info {
      display: flex;
      flex-direction: column;
      padding: 24px 0;
      border: solid rgba(255, 255, 255, 0.3);
      border-width: 1px 0; }
      footer .container .info .text {
        font-family: "Druk Wide Cyr";
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0 0 16px; }
      footer .container .info .bottom-info {
        display: flex;
        align-items: center; }
        @media (max-width: 1365px) {
          footer .container .info .bottom-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 20px; } }
        @media (max-width: 576px) {
          footer .container .info .bottom-info {
            grid-template-columns: 1fr; } }
        footer .container .info .bottom-info > * {
          position: relative;
          padding-right: 72px;
          margin-right: 45px; }
          @media (max-width: 1365px) {
            footer .container .info .bottom-info > * {
              padding-right: 0;
              margin-right: 0; }
              footer .container .info .bottom-info > *:nth-child(even) {
                justify-self: flex-end; } }
    @media (max-width: 1365px) and (max-width: 576px) {
      footer .container .info .bottom-info > *:nth-child(even) {
        justify-self: flex-start; } }
          footer .container .info .bottom-info > *:after {
            content: '';
            width: 2px;
            height: 35px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            background: #ffffff;
            opacity: .3;
            transform: rotate(23.07deg); }
            @media (max-width: 1365px) {
              footer .container .info .bottom-info > *:after {
                content: none; } }
          footer .container .info .bottom-info > *:last-child {
            padding-right: 0;
            margin-right: 0; }
            footer .container .info .bottom-info > *:last-child:after {
              content: none; }
      footer .container .info .phone, footer .container .info .email {
        font-weight: 700;
        font-size: 35px;
        line-height: 140%;
        color: #ffffff;
        position: relative; }
        @media (max-width: 767px) {
          footer .container .info .phone, footer .container .info .email {
            font-size: 24px; } }
        footer .container .info .phone a, footer .container .info .email a {
          color: inherit;
          text-decoration: inherit; }
    footer .container .social ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
      align-items: center; }
      footer .container .social ul li {
        width: 34px;
        height: 34px;
        margin-right: 18px; }
        footer .container .social ul li:last-child {
          margin-right: 0; }
        footer .container .social ul li.whatsapp {
          background: url("../img/svg/WhatsApp.svg") center center/100% 100% no-repeat; }
        footer .container .social ul li.messenger {
          background: url("../img/svg/messenger.svg") center center/100% 100% no-repeat; }
        footer .container .social ul li.viber {
          background: url("../img/svg/Viber.svg") center center/100% 100% no-repeat; }
        footer .container .social ul li.telegram {
          background: url("../img/svg/Telegram.svg") center center/100% 100% no-repeat; }
        footer .container .social ul li.youtube {
          background: url("../img/svg/youtube.svg") center center/100% 100% no-repeat; }
        footer .container .social ul li.facebook {
          background: url("../img/svg/facebook.svg") center center/100% 100% no-repeat; }
        footer .container .social ul li.instgram {
          background: url("../img/svg/instagram.svg") center center/100% 100% no-repeat; }
    footer .container .privacy {
      display: flex;
      align-items: center; }
      @media (max-width: 1200px) {
        footer .container .privacy {
          flex-wrap: wrap;
          justify-content: flex-end; } }
      footer .container .privacy .text {
        flex: 1;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff; }
        @media (max-width: 1200px) {
          footer .container .privacy .text {
            min-width: 100%; } }
      footer .container .privacy .link {
        font-size: 14px;
        line-height: 21px;
        color: #707070;
        margin-right: 108px;
        text-decoration: none; }
        @media (max-width: 576px) {
          footer .container .privacy .link {
            margin-right: 40px; } }
      footer .container .privacy .company-image {
        width: 76.15px;
        height: auto;
        display: flex; }
