section.how-to-start
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  padding: 80px 0
  margin-bottom: 136px
  @media (max-width: 767px)
    margin-bottom: 60px
    padding: 40px 0
  .container
    display: flex
    flex-direction: column
  .section-title
    margin-bottom: 80px
    @media (max-width: 860px)
      margin-bottom: 45px
    .title
      color: #ffffff
      margin-bottom: 0
  .list
    display: grid
    grid-template-columns: repeat(5, 1fr)
    grid-gap: 28px
    margin-bottom: 40px
    @media (max-width: 1365px)
      grid-gap: 20px
    @media (max-width: 860px)
      grid-template-columns: 1fr 1fr 1fr
    @media (max-width: 767px)
      grid-template-columns: 1fr
    .elem
      display: flex
      flex-direction: column
      align-items: flex-start
      .number
        font-size: 16px
        line-height: 150%
        letter-spacing: -0.02em
        color: rgba(255,255,255,.3)
        margin: 0 0 24px
      .text
        font-size: 20px
        line-height: 150%
        letter-spacing: -0.02em
        color: #ffffff
        margin: 0
        @media (max-width: 1365px)
          font-size: 18px
  .btn
    width: 195px
    height: 66px
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    background: transparent
    border: 1px solid #FFFFFF
    box-sizing: border-box
    border-radius: 70px
    font-weight: 600
    font-size: 17px
    line-height: 150%
    letter-spacing: -0.02em
    color: #ffffff
    text-decoration: none
    align-self: center
    @media (max-width: 767px)
      height: 45px